/* item detil container */
.item-detail {
  padding: 10px;
}

.layui-form-label {
  width: 70px;
  padding: 9px 0;
}
/* form input */ 
.layui-input-block {
  margin-left: 85px;
}

/* button */
.goback-button {
  margin-top: 15px;
  margin-bottom: 10 px;
}
.form-button {
  width: 100%;
}