.items .li {
  text-align: center;
  z-index: -1;
}

.each {
  padding-top: 2em;
  text-align: center;
  /* z-index: -1; */
}
.items {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}

.items li {
  cursor: pointer;
  background-color: #EEE;
  color: #393D49;
  border: 1px solid #1E9FFF;
  border-radius: 4px;
  height: 5em;
  margin-top: 2em;
  /* float: left;
  margin-left: 4em;
  width: 20em; */
}

.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}

.items .text {
  position: relative;
  top: -3px;
}

.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
