  <div class="navbardiv">
    <nav>
      <ul class="layui-nav">
        <li class="layui-nav-item layui-logo" id="logo">
          <p>Angular4-demo</p>
        </li>
        <li class="layui-nav-item">
          <a routerLink="/item" routerLinkActive="active" id="Item">物品清单</a>
        </li>
        <li class="layui-nav-item">
          <a routerLink="/login" routerLinkActive="active" id="Login">管理登录</a>
        </li>
        <!-- <li class="layui-nav-item">
          <a routerLink="/deal-record" routerLinkActive="active" id="dealRecordCenter">记录</a>
        </li> -->
        <!-- <li>
          <a routerLink="/profile" routerLinkActive="active" id="Profile">个人中心</a>
        </li> -->
        <li class="layui-nav-item">
          <a style="display:none;" routerLink="/register" routerLinkActive="active" id="Register">注册</a>
        </li>
        <li class="layui-nav-item">
          <a (click)="logout()" id="Logout">注销</a>
        </li>
      </ul>
    </nav>
  </div>