.profilemessage {
  text-align: center;
  padding: 10px 20px;
}

/* form item */
.layui-form-label {
  width: 60px;
  padding: 9px 0;
}
.layui-input-block {
  margin-left: 90px;
}
/* form button */
.layui-btn-fluid {
  width: 100%;
}