#search-component {
  text-align: center;
}

#search-component span {
  font-size: 14px;
  color: #393D49;
}

.result {
  text-align: center;
}

.search-result {
  border-bottom: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-radius: 0 0 4px 4px;
  height: 34px;
  line-height: 34px;
  background-color: white;
  cursor: pointer;
  z-index: 1;
}

.search-result:hover {
  color: #eee;
  background-color: #1e9fff;
}
