<ul class="items flaotitem layui-anim layui-anim-fadein layui-row layui-col-space20">
  <li class="layui-col-md3 layui-col-sm6 layui-col-xs12" *ngFor="let item of items" (click)="onSelect(item)" [class.selected]="item === selectedItem">
    <div>
      <span>{{item.id}}</span>
      <span>{{item.name}}</span>
      <button class="delete" (click)="deleteItem(item); $event.stopPropagation()">
      <i class="layui-icon">&#xe640;</i>
      </button>
    </div>
  </li>
</ul>