button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  cursor: pointer;
  cursor: hand;
}
button i {
  font-size: 2em;
}
button:hover {
  background-color: #cfd8dc;
}
button.delete {
  float:right;
  margin-top: 2px;
  margin-right: .8em;
}
.items {
  list-style-type: none;
  padding: 0;
}

.items li div{
  cursor: pointer;
  background-color: #EEE;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
  height: 5em;
  border-radius: 4px;
  font-size: 15px;
}

.items li div:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}

.items .text {
  position: relative;
  top: -3px;
  left: 10px;
}

.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}