<div class="layui-row">
  <div class="layui-col-md6 layui-col-md-offset1 layui-col-xs12 layui-col-xs12 button-div">  
    <div class="profilecomponent">
        <button class="layui-btn layui-btn-sm" routerLink="/add-item" routerLinkActive="active" id="addItem">增加商品</button>
        <button class="layui-btn layui-btn-sm" routerLink="/my-item-list" routerLinkActive="active" id="MyItem">已有商品</button>
        <button class="layui-btn layui-btn-sm" routerLink="/profile-detail" routerLinkActive="active" id="ProfileDetail">个人信息修改</button>
    </div>

  </div>
</div>

<br />

<div>
  <router-outlet></router-outlet>
</div>