<div class="layui-container">
  <div class="layui-row">
    <div class="layui-row-md6 layui-co-md-offset3">

      <span>
        <button (click)="goBack()" class="layui-btn layui-btn-normal layui-btn-sm">
          <i class="layui-icon">&#xe65c;</i> 返回</button>
      </span>

      <div class="layui-anim layui-anim-up">
        <div *ngIf="item" class="allitems">
          <div class="layui-form form">
            <table class="layui-table" layui-size="lg">
              <thead>
                <tr>
                  <th>商品编号</th>
                  <th>剩余库存</th>
                  <th>商品名称</th>
                  <th>商品价格</th>
                  <th>商品描述</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.count }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.price }}</td>
                  <td>{{ item.desc }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="buydiv">
            <app-buy-item [item]="item"></app-buy-item>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>